body {
    background: #fff;
    color: #222;
    font-family: 'Garamond', serif;
    font-weight: 400;
    line-height: 1.2em;
}

ul, ol, p, dl
{
    margin: 0 0 1.5em 0;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 0em;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em 0em 0.25em 0em;
}

h3 {
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
}


.button {
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

#nav a {
    color: #222;
    /*font-style: italic;*/
    text-decoration: none;
    font-size: 1.25em;
}


#copyright-footer {
    color: #222;
    text-align: center;
}

.bordered-image {
    display: block;
    background: #ddd;
    padding: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
    margin: 0 40px 0 40px;
    outline: 0;
}

.bordered-image img {
    display: block;
    width: 100%;
}

.bare-image {
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 3em;
    height: 100%;
    max-width: 70%;
}

.bare-image img {
    display: block;
    width: 100%;
}

#div-box {
    border: 1px solid white;
}

em {
    font-weight: 600;
}

a {
    color: #222;
}


.social-icon img {
    width: 25%;
    max-width: 40px;
    vertical-align: middle;
    padding: 3px 5px 3px 5px;
}

.current-nav-button {
    border-color: #222;
    border-style: solid;
    border-width: 1px;
    padding: 3px 5px 3px 5px;
}

.footer-text {
    font-style: italic;
}


.center {
    text-align: center;
}

#header {
    margin: 0px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background: #fff;
}

.extra-margin {
    margin: 3em 3em 0em 3em;
}

#footer {
    z-index: 1;
    position: fixed;
    --width: 100%;
    --max-width: 100%;
    bottom: 0;
}

.foreground-panel {
    background: #fff;
    position: relative;
    z-index: 2;
    padding: 3em 3em 3em 3em;
    min-height: 40em;
}

.last-foreground-panel {
    border-bottom: 2px solid #222;
}

.foreground-spacer {
    width: 100%;
    padding: 0em 0em 4em 0em;
    position: relative;
    z-index: 0;
}


.background-image {
    z-index: 1;
}

.picture-panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    padding: 3em 3em 3em 3em;
}

.picture-panel-text {
    background-color: #fff;
    opacity: 0.9;
    padding: 2em 2em 2em 2em;
}
