body {
	font-size: 90%;
	line-height: 1.5em;
}

section {
	padding-bottom: 2em;
}

.button {
	display: block;
	font-size: 1.25em;
	padding: 0.65em 0 0.65em 0;
	width: 100%;
}

#header {
	margin-top: 2.5em;
	text-align: center;
        position: relative;
}

#nav a {
	margin: 0 0.5em 0.5em 0.5em;
	font-size: 1.5em;
}

#copyright-footer {
    margin-bottom: 2em;
}

#footer {
    position: relative;
    width: auto;
}


/*BG: for iPhone font size*/
/* Mobile browsers only */
@media only screen and (max-device-width: 480px) {      
        td#main_box { -webkit-text-size-adjust:100% }               
}


.picture-panel-text {
    padding-left: 10px;
}


.foreground-panel {
    padding: 3em 3em 6em 3em;
}


.foreground-spacer {
    padding: 0em 0em 0em 0em;
}
