body {
	/*font-size: 12.5pt;*/
	line-height: 1.5em;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

section {
	padding-bottom: 2em;
}

.container {
	padding: 0 1em 0 1em;
}

.button {
	display: block;
	font-size: 1.25em;
	padding: 0.65em 0 0.65em 0;
	width: 100%;
}

#header {
	margin-top: 2.5em;
	text-align: center;
}

#nav a {
	margin: 0 0.5em 0 0.5em;
	font-size: 1em;
}

#hero {
	border-radius: 0.5em;
	line-height: 2em;
	margin: 2em 0 2em 0;
	padding: 3em 2em 3em 2em;
}

#hero h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

#hero p {
	font-size: 1.25em;
	margin-bottom: 1.5em;
}

#footer {
	margin-bottom: 2em;
}

ul, ol, p, dl
{
    margin: 0 0 2em 0;
}


/*BG: for iPhone font size*/
/* Mobile browsers only */
@media only screen and (max-device-width: 480px) {      
        td#main_box { -webkit-text-size-adjust:100% }               
}