body {
    background: #2c373b;
    color: #b2b9bC;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    line-height: 1.2em;
}

h1 {
    font-family: 'Monospace';
}


h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
    font-weight: 600;
}

.alt-background {
    background: #ddd;
    padding: 12em 3em 12em 3em;
    color: #333;
}

.alt-background h1,
.alt-background h2,
.alt-background h3 {
    color: #333
}


.button {
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
    color: #369ab8;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

#nav a {
    color: #fff;
    /*font-style: italic;*/
    text-decoration: none;
    font-size: 1.25em;
}

#hero {
    background: #369ab8;
    color: #fff;
    text-align: center;
}

#footer {
    color: #62696c;
    text-align: center;
}

.bordered-image {
    display: block;
    background: #aaa;
    padding: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
    margin: 0 40px 0 40px;
    outline: 0;
}

.bordered-image img {
    display: block;
    width: 100%;
}

.bare-image {
    display: block;
    padding: 0 0 0 0;
    margin: 0 0 0 3em;
    height: 100%;
    max-width: 70%;
}

.bare-image img {
    display: block;
    width: 100%;
}

#div-box {
    border: 1px solid white;
}

em {
    font-weight: 600;
}

a {
    color: #999;
}


.social-icon img {
    width: 25%;
    max-width: 40px;
    vertical-align: middle;
    padding: 3px 5px 3px 5px;
}

.current-nav-button {
    border: 1px solid white;
    padding: 3px 5px 3px 5px;
}

.footer-text {
    font-style: italic;
}


.center {
    text-align: center;
}

#header {
	margin-bottom: 4em;
}

.extra-margin {
    margin: 3em 3em 3em 3em;
}

.extra-padding {
    padding: 2em 3em 0 2em;
}