body {
	font-size: 18pt;
	letter-spacing: 0.035em;
	/*line-height: 1.2em;*/`
}

.button {
	font-size: 1.25em;
	padding: 0.65em 2.25em 0.65em 2.25em;
}


#nav {
	text-align: right;
}

#nav a {
	margin-left: 0em;
}

#footer {
	margin: 3em 0 3em 0;
}